@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');
#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
body{
    background-color: #19A7CE;
    font-family: 'Roboto', sans-serif;
}

table{
    background-color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

#headTitle{
    color: rgb(102, 102, 102);
}

tr{
    display: flex;
    height: 100%;
    width: 60vh;
    align-items: center;
    justify-content: center;
    
}

.btn{
    height: 30px;
    width: 80px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    background-color: #19A7CE;
    color: white;
    cursor: pointer;
    
}

.t-center{
    text-align: center;
}

.labelLogin{
    
    font-size:x-small;
    text-align: left;
}

.loginInpBox{
    height: 30px;
    width: 200px;
    border: solid;
    border-width: 1px;
    border-color: rgb(199, 199, 199);
    border-radius: 8px;
    padding-left:20px ;
}


.loginInpBox:focus{
    outline: 1;
    outline-color: #19A7CE;
    border: 1px solid red;
}

#registerLink{
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
}

#registerLink:hover{
    text-decoration: underline;
}


#miniMsg{
    font-size: 8px;
}

.bold{
    font-weight: bold;
}